__pycache__/
*.py[cod]
*$py.class

*.egg-info/
.eggs/
dist/
build/

.pytest_cache/
.mypy_cache/
.coverage

venv/
env/
.venv/
.venv_a/
ENV/

.ipynb_checkpoints/

.env
.env.*

.vscode/
.idea/

*.swp
*.swo

.DS_Store
Thumbs.db

monitoring/logs.json
*.log

.streamlit/secrets.toml


*.tmp
*.temp

*.pkl
*.pickle


data/  
models/*
!models/pipeline.joblib
!models/pipeline_luxury.joblib
!models/luxury_classifier.joblib
!models/luxury_threshold.json
!models/pipeline_lower.joblib
!models/pipeline_upper.joblib 
*.csv


.docker/

*.DS_Store
